:root {
  --bg-color: #212121;
  --main-chat: #303030;
  --main-text: #f5f5f5;
  --border: #ffffff0d;
}
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

body {

    background-color: var(--bg-color);
    font-family: 'Segoe UI', sans-serif;
    overflow-y: hidden;
}


.container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 20vw;
    margin-top: 35vh;
}

.container.active {
    margin-top: 7vh;
    height: 87vh;
}
.container h1 {
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 1.7rem;
}


.intro {
    background-color: var(--main-chat);
    color: var(--main-text);
/*    height: 18%;*/
    border-radius: 35px;
    border-color: var(--border);
    border-style: solid;
    border-width: 1px;
    margin-top: 5%;

}

.intro, .more-section {
    opacity: 0;
    animation: fadeIn 3s ease forwards;
    animation-delay: 8s;
}


.intro.answer {
/*  transform: translateY(20rem);*/
/*margin-top: 45    %;*/
/*  pointer-events: none;*/
}

.title {
    margin-top: 37vh;
    position: absolute;
    inset: 0;
    opacity: 0;
    white-space: nowrap;
    height: 3rem;
}

.title.hide-title {
    opacity: 0;
    transition: opacity 100% 0%;
    display: none;
}


.fade-1 {
  animation: fadeInOut 3s ease forwards;
}

.titles {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

}



.type {
  opacity: 1;
  width: 0;
margin-left: 35%;
  overflow: hidden;
/*  border-right: 3px solid;*/
  animation:
    typing 2s steps(24) forwards,
    blink .7s infinite,
    fadeOut 1s ease forwards;
  animation-delay:
    3s,     /* typing */
    3s,     /* cursor blink */
    7s;     /* fade out */
}

/* Final fade in */
.fade-2 {
  animation: fadeIn 2s ease forwards;
  animation-delay: 7.5s;
}


@keyframes fadeInOut {
  0%   { opacity: 0; }
  15%  { opacity: 1; }
  85%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; }
}

@keyframes typing {
  to { width: 24ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}
.intro p {
    text-align: left;
    padding-left: 1rem;
    padding-top: .8rem;
    color: lightgrey;
    opacity: 50%;
    font-weight: 100;
}


#chat-log {
    display: none;
    flex: 1;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

.menu {
    margin-left: 1rem;
}


#chat-log:active {
    display: flex;
    flex-direction: column;
}

#chat-response {
    width: 100%;
    display: none;



/*    float: left;*/
/*display: table;*/
}

.chat-response.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.chat-answer {
    width: 80%;
/*    height: 3rem;*/
    color: white;
    align-self: flex-right;
    padding-top: 1rem;
    line-height: 1.1rem;

}

.chat-question {
    background-color: var(--main-chat);
    color: var(--main-text);
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: var(--border);
/*    width: 10rem;*/
    height: 1.8rem;
/*    margin-left: 81%;*/
    padding-top: .8rem;
    text-align: center;

    margin-left: 0;
    align-self: flex-end;
    padding-left: .7rem;
    padding-right: .7rem;
}




.menu button, .more-section button {
    background-color: var(--main-chat);
    color: var(--main-text);
    border-color: var(--border);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    height: 2.5rem;
    padding: .7rem;
    cursor: pointer;

}

#more-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.more-toggle button {

}
.more-dropdown button {
    margin: .25rem;
}

.menu button:hover {
    cursor: pointer;
    opacity: 80%;
}

@media screen and (max-width: 500px) {
    .container {
        width: 90vw;
        margin-left: 2.5vw;
    }

    .container h1 {
        font-size: 1.5rem;
    }

    .menu button {
        font-size: .8rem;
        padding: .4rem;
        height: 2.2rem;
        margin-right: 5px;
    }

    .intro {
/*        height: 14%;*/
    }

    .type {
        margin-left: 10%;
    }
.intro p {
    padding-top: .4rem;
    font-size: .8em;
    padding-left: 1.3rem;
}



}


@media screen and (max-width: 389px) {
        .menu button {
        font-size: .8rem;
        padding: .27rem;
        height: 2rem;
    }

        .intro {
        height: 18%;
    }

}

@media screen and (max-width: 365px) {
        .menu button {
        font-size: .7rem;
        padding: .27rem;
        height: 2rem;
    }

        .intro {
/*        height: 17%;*/
    }

}
